<% include header %>

<div ng-controller='DisplayEmployeeController'>

  <div class="container">
    <h1> Employees </h1>

    <form action="/manage">
        <input type="submit" value="Add Employee">
    </form>

    <ul class="list-group">
      <li class="list-group-item" ng-repeat="stuff in view">
        <b>{{stuff.name}}</b>
        <div class="text-muted">{{stuff.type}}</div>
        <div class="text-muted">{{stuff.address}}</div>
      </li>
    </ul>
    
  </div>

</div>

<% include footer %>