<% include header %>


<!-- SET THE CONTROLLER -->
<body>

<script lang="javascript" src="dist/xlsx.core.min.js"></script>

  <div class="container-fluid" ng-controller="algorithmController">      
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-1 main">

          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-6 placeholder">
              <a href="/upload" class="btn btn-success btn-lg" role="button">Upload Appointments</a>
            </div>
            <div class="col-xs-6 col-sm-6 placeholder">
              <a class="btn btn-primary btn-lg" role="button" ng-click="test()">Optimize Schedules</a>
            </div>
          </div>
          
        </div>

  </div>



  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>

<% include footer %>