<% include header %>


<!-- SET THE CONTROLLER -->
<body>

<script lang="javascript" src="dist/xlsx.core.min.js"></script>

  <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Sale Manager</a></li>
            <li><a href="#">Operation Manager</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Technician</a></li>
            <li><a href="">Sales</a></li>
            <li><a href="">Customers</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Optimization</a></li>
          </ul>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-6 placeholder">
              <a href="/upload" class="btn btn-success btn-lg" role="button">Upload Appointments</a>
            </div>
            <div class="col-xs-6 col-sm-6 placeholder">
              <a href="/results" class="btn btn-primary btn-lg" role="button">Optimize Schedules</a>
            </div>
          </div>

          <h2 class="sub-header">Customers</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>


      </div>

    </div>



    <!-- HEADER AND TODO COUNT -->
    <!--
    <div class="jumbotron text-center">
      <h1>I'm a Todo-aholic <span class="label label-info">{{ todos.length }}</span></h1>
    </div>
    -->






    <!-- checkbox and add button -->

    <!-- TODO LIST -->
    <!-- 
    <div id="todo-list" class="row">
      <div class="col-sm-4 col-sm-offset-4">
      --> 

        <!-- LOOP OVER THE TODOS IN $scope.todos -->
        <!--
        <div class="checkbox" ng-repeat="todo in todos">
          <label>
            <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
          </label>
        </div>
        <p class="text-center" ng-show="loading">
          <span class="fa fa-spinner fa-spin fa-3x"></span>
        </p>
      </div>
    </div>
    -->
    


    <!-- FORM TO CREATE TODOS -->
    <!--
    <div id="todo-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
          <div class="form-group">
          -->

            <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
            <!--
            <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">
          </div>
          -->
          
          <!-- createToDo() WILL CREATE NEW TODOS -->
          <!--
          <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
        </form>
      </div>
    </div>
    -->

    
    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="../../dist/js/bootstrap.min.js"></script>
      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
      <script src="../../assets/js/vendor/holder.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
<% include footer %>