<% include header %>


<!-- SET THE CONTROLLER -->
<body>

<script lang="javascript" src="dist/xlsx.core.min.js"></script>

  <div class="container-fluid">
      <div class="row">
        
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Sale Manager</a></li>
            <li><a href="#">Operation Manager</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Technician</a></li>
            <li><a href="">Sales</a></li>
            <li><a href="">Customers</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Optimization</a></li>
          </ul>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-6 placeholder">
              <a href="/upload" class="btn btn-success btn-lg" role="button">Upload Appointments</a>
            </div>
            <div class="col-xs-6 col-sm-6 placeholder">
              <a href="/results" class="btn btn-primary btn-lg" role="button">Optimize Schedules</a>
            </div>
          </div>

          
        </div>


      </div>

    </div>



    <!-- HEADER AND TODO COUNT -->
    <!--
    <div class="jumbotron text-center">
      <h1>I'm a Todo-aholic <span class="label label-info">{{ todos.length }}</span></h1>
    </div>
    -->






    <!-- checkbox and add button -->

    <!-- TODO LIST -->
    <!-- 
    <div id="todo-list" class="row">
      <div class="col-sm-4 col-sm-offset-4">
      --> 

        <!-- LOOP OVER THE TODOS IN $scope.todos -->
        <!--
        <div class="checkbox" ng-repeat="todo in todos">
          <label>
            <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
          </label>
        </div>
        <p class="text-center" ng-show="loading">
          <span class="fa fa-spinner fa-spin fa-3x"></span>
        </p>

  <div class="container-fluid">

    <div class="row placeholders">
      <div class="col-xs-6 col-sm-6 placeholder">
        <a href="/upload" class="btn btn-success btn-lg" role="button">Upload Appointments</a>
      </div>
      <div class="col-xs-6 col-sm-6 placeholder">
        <a href="/results" class="btn btn-primary btn-lg" role="button">Optimize Schedules</a>
      </div>
    </div>

  </div>
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>

<% include footer %>