<% include header %>

<style>
  #map-canvas {
    width: 500px;
    height: 400px;
  }
</style>

<div class="container" ng-controller="viewResultsCtrl">
  <h1> Optimized Routes for Today</h1>
  <h3 ng-repeat-start="e in optimizedRoutes">{{e.employee.name}}</h3>
    <input np-repeat="e in optimizedRoutes" type="submit" value="Show map">
  <table class="table table-striped">
    <tr>
      <th>Appt Id</th>
      <th>Start Time</th>
      <th>Customer Name</th>
      <th>Job Site</th>
      <th>Team</th>
      <th>Appt Status</th>
    </tr>
    <tr ng-repeat="appt in e.appointmentList">
      <td>{{appt['Appt Id']}}</td>
      <td>{{appt['Start Time']}}</td>
      <td>{{appt['Customer Name']}}</td>      
      <td>{{appt['Job Site']}}</td>
      <td>{{e.team}}</td>
      <td>Assigned</td>
    </tr>   
    
  </table>  
  <div ng-repeat-end></div>
</div>
<% include footer %>